<p id="notice"><%= notice %></p>
<div class="col">
<div class="row">
<center>
<h1>Esports Data Visualisation</h1>

<p>SharkTank Esports visualisation. Your #101th source for League of Legends Data. </p>

<table>
<thead><h1>News</h1></thead>

<tbody>
<p>Hi! This is the news section for the second worst ESports Data visualiser. We are live and ready to roll - keep a look out for more news.</p>
</tbody>
</table>

<!--
<table>
  <thead>
    <tr>
      <th>Home</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.home %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>

-->
</center>
</div>
</div>